# Default ignored files
/.idea/
/target/
.env
.help
/server/.env
/examples/integration/scripts/notifications/build/
/examples/integration/scripts/purge/build/
/tests/results.jtl
/tests/report/
/tests/jmeter.log


# Python bytecode
__pycache__/
*.pyc
